#root > div:nth-child(1) > div.withScreencast > div > div > header > div.st-emotion-cache-zq5wmm.ezrtsby0 {
    display: none;

}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}


#root > div:nth-child(1) > div > div > a {
    display: none;
}


#root > div:nth-child(1) > div > div > a > div {
    display: none;
}

.viewerBadge_container__r5tak {
    display: none;
}

.viewerBadge_container__r5tak styles_viewerBadge__CvC9N {
    display: none;
}
img {
    border-radius: 50%;
}
